[2018-03-18 18:59] BenParizek opened #11 "Added Seed Settings area"
Consider allowing overrides in config/sproutimport.php

[2018-03-19 00:33] BenParizek opened #12 "Update Themes to only overwrite individual files, not folders"

[2018-03-19 00:35] BenParizek opened #13 "Update examples/patterns to be Theme integrations"

[2018-03-31 16:32] EmptyStreets opened #14 "Trying to get property 'importers' of non-object"
Fresh install of Craft RC 17.1

Right after the plugin installation and by clicking on the sprout import tab I see this:

[yii_base_ErrorException.pdf](https://github.com/barrelstrength/craft-sprout-import/files/1865674/yii_base_ErrorException.pdf)

[2018-03-31 18:04] BenParizek commented on #14
Thanks for reporting. This has been fixed in the latest release `v1.0.0-beta.4`.

[2018-03-31 18:04] #14 closed

[2018-03-31 18:21] EmptyStreets opened #15 "Visual bug"
http://nimb.ws/rhn8bR

Chrome v65.0.3325.181

[2018-04-01 13:50] EmptyStreets opened #16 "Importing parent categories"
How do I specify the parent category (categories) while importing the category elements?

[2018-04-03 03:20] BenParizek commented on #16
The most simple approach for this is to import your categories flat and update their hierarchy once you import them. Often, it also helps to import the categories before other related elements that you may be importing afterwards as well. Once the categories are in, you can us the `matchElement` flag to match categories based on a slug or legacy ID custom field to help get things mapped.

To impor

[2018-04-03 03:22] BenParizek commented on #15
Has this issue persisted for you? Have you tried clearing cache?

I haven't been able to recreate it locally.

[2018-04-03 03:30] EmptyStreets commented on #16
Ben can you please post a sample snippet to import the sub/child category with its parent id of let's say 5?

[2018-04-03 11:06] Coysh commented on #15
I've got the same issue, clearing cache didn't work.
Here is a screenshot from devtools - looks like it's loading the SVG differently to the settings icon

![image](https://user-images.githubusercontent.com/5764356/38245790-72977258-3737-11e8-9d1a-399d406f67a5.png)

[2018-04-03 11:08] Coysh commented on #15
Update: Other plugins seem to embed the SVG instead:
![image](https://user-images.githubusercontent.com/5764356/38245848-ad071f2e-3737-11e8-92b9-b215a980c657.png)

[2018-04-03 13:32] Coysh opened #17 "Import user into groups"
This might be a feature request, but I can't see anything in the documentation to add users to a group.

UPDATE: This might be a feature request (https://craftcms.stackexchange.com/a/22810/8039)

[2018-04-03 13:37] Coysh opened #18 "sproutimport_seeds not found"
When going to the 'Weed' page - I get a Database Exception:

[code]

The table does exist, but is prefixed by craft_
![image](https://user-images.githubusercontent.com/5764356/38252590-7e5017f2-374c-11e8-8edc-238159a5743b.png)

[2018-04-03 23:17] #11 closed

[2018-04-04 09:09] Coysh commented on #15
Hi @BenParizek,

Updated to beta 5 and unfortunately it's not worked - again the plugin seems to be referencing the icon using `data-icon` instead of actually embedding the svg file in the `icon-mask` span.

Tim

[2018-04-04 09:11] Coysh commented on #18
Unforutnatley I'm still getting the same issue:

![image](https://user-images.githubusercontent.com/5764356/38298867-76a34228-37f0-11e8-9c2a-58d6cf3bad15.png)

[2018-04-04 15:12] BenParizek commented on #15
@Coysh Can you list the other plugins you have installed? We're not choosing whether the icon displays as a `data-icon` or `svg`. Craft must be doing that based on some other factor in the environment. Locally, I see our `svg` rendering fine on multiple Craft 3 sites.

[2018-04-05 13:38] BenParizek commented on #18
@Coysh This is resolved in v1.0.0-beta.6

Thanks for reporting.

[2018-04-05 13:38] #18 closed

[2018-04-05 13:39] BenParizek commented on #15
@Coysh I was finally able to recreate this. I believe it should be resolved in the latest release `v1.0.0-beta.6`

[2018-04-09 09:19] BenParizek opened #20 "Update league/csv dependency to latest"
To play nice with other plugins in the plugin store, let's upgrade to the latest league/csv version.

### Notify

- [x] [379316914](https://github.com/verbb/feed-me/issues/289#issuecomment-379316914)

[2018-04-10 22:30] engram-design commented on #20
FYI, updated to `^8.2` (still getting updates) because the `9.x` branch seemed to throw errors in most installs due to the PHP requirement. https://github.com/verbb/feed-me/issues/294

[2018-04-11 23:31] michtio commented on #20
I'm getting an issue with trying to install Feed Me and having Sprout Fields installed ( not sprout import )

[code]

These are my composer.json dependencies:

[code]

[2018-04-12 21:02] j-greig commented on #20
I have the same problem as @michtio describes above — installed Sprout Import first, now can't install FeedMe. Uninstalling Sprout doesn't help either.

[code]

[2018-04-17 10:46] pdaleramirez commented on #20
@BenParizek i have tested and reproduced the issue conflict on `verbb/feed-me` plugin.
The latest sprout-base version which is `1.1.0`, needs to have the `league/csv` version to be `^8.2.3`. The current version now is `^7.2`

[2018-04-18 14:38] BenParizek commented on #20
@engram-design @j-greig This issue should be resolved with the latest release of Sprout Import.

[2018-04-23 14:48] BenParizek opened #21 "The Weed tab of Sprout Import is broken when using a Postgres database"
The Weed tab of Sprout Import is broken when using a Postgres database on Craft CMS 3.0.0-RC17.1 (PHP 7.1.15, PostgreSQL 10.2):

[code]

### Notify

- [ ] [15569857501](https://app.intercom.io/a/apps/dfa024eb83c11784227312bba407fb3d35e00fa7/inbox/inbox/714050/conversations/15569857501)

[2018-04-25 08:46] colinmeinke opened #22 "Weeding single deletes entry"
This may be expected behaviour, but it wasn't expected for me, so I wanted to flag it.

- Create a new single section (an entry is created by default for this).
- Sprout Import data for this entry.
- Weed the import.
- Entry is deleted.

I would expect weed to take me back to the state that existed before the import. In the case of a single, this means rather than deleting the entry, it would set

[2018-04-25 09:27] colinmeinke opened #23 "What is the significance of matrix object keys?"
For example, `new1` here https://github.com/barrelstrength/craft-sprout-import/blob/v1/src/examples/content/craft/elements/Entries-MatrixField.json#L20

Where does this name get used? Does it have to be called `new${n}`?

[2018-04-25 13:37] BenParizek commented on #22
@colinmeinke Sounds like a reasonable assumption. We'll look into only adding an Element ID to the Weed tab if the Element being created is new.

We're not tracking incremental changes on the import so Weed is probably always going to mean `delete stuff`, but it makes sense if you are updating entries that already exist they may not fit in the same weed category.

[2018-04-25 13:45] BenParizek commented on #23
@colinmeinke `newX` is Craft's convention for creating new Matrix blocks. You can observe this if you create a new Entry that has a Matrix Field in the Control Panel and then add multiple matrix blocks and inspect the Matrix input fields code before submitting the page:
https://github.com/craftcms/cms/blob/develop/src/templates/_components/fieldtypes/Matrix/input.html#L10

It's just used as a plac

[2018-04-25 13:45] #23 closed

[2018-04-27 12:56] pdaleramirez commented on #22
https://github.com/barrelstrength/craft-sprout-base/commit/f8613ca1624032fc9c38292f602547238a1b753b

[2018-05-02 15:02] colinmeinke opened #24 "Document required properties"
This was trial and error. I think they are the following, when creating a new entry:

- `attributes.authorId`
- `attributes.typeId`
- `attributes.sectionId`
- `attributes.slug`
- `content.title`

When updating an entry, I think:

- `attributes.authorId`
- `settings.updateElement.matchBy`
- `settings.updateElement.matchValue`

[2018-05-02 15:08] colinmeinke opened #25 "Allow imports to match an ID via other, more practical attribute types."
This is my major pain point, the big one here is `folderId`. It would be great to get some "helpers" that do the ID lookup for me. Suggestions in parenthesis.

- `attributes.authorId` (authorUsername)
- `attributes.typeId` (typeHandle)
- `attributes.sectionId` (sectionHandle)
- `matchCriteria.folderId` (folderPath)
- `matchCriteria.volumeId` (volumeHandle)
- `matchCriteria.groupId` (groupHandle)

[2018-05-03 03:26] BenParizek commented on #25
We'll look into adding support for this.

In the meantime, the best place to address this is likely during the export stage of the migration process by adding a mapping to swap in the ID you need for the new database.

[2018-05-03 07:56] colinmeinke opened #26 "Document table field syntax"
I don't think any documentation exists on this, and without speaking to Dale I wouldn't have guessed that object keys for each column are `col1`, `col2`, `col3` etc., rather than the custom handle of the column.

[2018-05-03 08:27] colinmeinke opened #27 "Add version when updating a versionable entry"
Sections can support versioning, where when an entry is saved it also adds a row to the `entryversions` table. It would be great if Sprout Import took care of this automatically when creating a new entry, and updating existing entries.

[2018-05-03 11:10] BenParizek commented on #26
Will do.

Also, this Field reference on Straight Up Craft attempts to document the various input patterns necessary to submit data:
https://straightupcraft.com/articles/craft-cms-field-guide-twig?view=input

Another good place to check if you run into any other unknown field patterns is to view source or use your browser's dev tools and Inspect the field inputs in the Craft CP.

[2018-05-03 11:41] BenParizek commented on #26
Initial example here: https://github.com/barrelstrength/craft-sprout-import/commit/2db764c1db7943688da396c7b6ab6d3082332993

[2018-05-03 11:53] colinmeinke commented on #27
To give a use case. In many of our templates we use versions directly, instead of the entry itself. For example, for legal documents, which are versionable in real life. Lets say when a user visits `/legal/2`, we want to display the second version of the entry, not the latest version. Craft's versions system is a great match for this, and we can do something like this in the template:

[code]

Thi

[2018-05-09 08:03] colinmeinke opened #28 "Updating matrix not respecting site"
I have a section that has a matrix field, where the block fields are translatable, but the blocks are **not** managed on a per site basis.

When I update an entry where `settings.updateElement.matchCriteria.siteId` is set to specific site, the matrix fields are updated for **all** sites, not just the defined site as I would expect.

I can get around this by turning on `Manage blocks on a per-site

[2018-05-09 11:01] colinmeinke opened #29 "Importing multiple entry relationships based on custom field - Undefined offset"
I am trying to create a relationship to another section, based on a custom field.

[code]

This isn't working even though the values do exist for `legacyId`. Any ideas as to why? I cannot work out what I'm doing wrong here.

I've also tried adding `content.related.headerMenu.matchCriteria.sectionId`, with no luck.

[2018-05-09 11:21] colinmeinke opened #30 "dateUpdated and dateCreated have no effect"
`attributes.dateCreated` and `attributes.dateUpdated` don't have any effect when importing a new entry. However, `attributes.postDate` does work as expected. When viewing the newly created entry `Created at:` and `Updated at:` both show the datetime of import, not the datetimes defined in the json.

[2018-05-09 12:27] BenParizek commented on #28
Can you confirm the Translation setting you are using for your Matrix field? Are they set to`Not translatable`?

We may need to confirm if this is expected behavior from Craft. I don't know the exact conditions but I do believe Craft stores multiple records to the database for different Sites depending on the settings.

[2018-05-09 12:37] colinmeinke commented on #28
To recreate:

1. Leave the matrix field setting `Manage blocks on a per-site basis` unchecked.
2. Create a single block type where the contained fields are set to "Translate for each site"/"Manage relations on a per-site basis".

Craft admin UI behaviour:

- When a block is added/deleted it applies to all sites.
- Editing a specific field in a block will only apply to the site that is being edited

[2018-05-10 15:06] colinmeinke opened #31 "Import user photo"
I am importing users, which works well until I try to import their photo.

[code]

Added to `attributes` this throws an error, along the lines of `setPhoto() was expecting an Asset, but received an array`.

Adding to `content.related` this is just silently ignored.

How would I go about importing a user photo?

[2018-05-15 15:58] BenParizek commented on #27
This feature is importing data correctly, however appears to be a bug in Craft in how the data is retrieved which can cause the versions to display in an incorrect order: https://github.com/craftcms/cms/issues/2889

[2018-05-15 16:59] colinmeinke commented on #29
The error that appears throughout the `queue.log` is `Undefined offset: 0`. I have manually checked that the target entries all exist and have the correct `legacyId` values.

[2018-05-16 10:39] pdaleramirez commented on #29
@colinmeinke is legacyId a plainText custom field or an entries field. What are those values in matchValue are those craft entry ids or manually inputted from other database?

[2018-05-16 14:04] BenParizek opened #32 "Section and Field importing may not play nice with Seed generation"
There may be a bug in how we import Sections and Fields. I imported the Section-All-Fields script and then tried to generate fake entries and I got errors that it couldn't find the specific fields that were imported to that new Section. I went and resaved the Section and this fixed the issue.

It seems that somehow in the import process when getAllFieldHandles calls getFieldsByElementType, the wro

[2018-05-16 14:11] BenParizek commented on #16
@pdaleramirez I haven't had a chance to get to this. Could you post an example of importing parent categories when you have a chance? Or is this a feature request? Maybe we can more easily do this with the new `afterSaveElement` behavior added for Entry Versions.

Another question on the topic here: https://craftcms.stackexchange.com/questions/25996/importing-entries-under-a-parent-with-sprout-imp

[2018-05-16 14:16] BenParizek opened #33 "Ensure seedType and type values have been properly updated in the codebase"
Database migration needs to update seedType and type values and respective updates should also be made in codebase. Test more.

[2018-05-16 15:16] pdaleramirez commented on #29
legacyId should just match a number not an array.
[code]
For custom fields you can only match it as number or string. Array only works when matching an Entry by the Element's attributes such as id and slug.

[2018-05-16 18:52] #20 closed

[2018-05-17 05:42] colinmeinke commented on #29
I guess this is an enhancement, rather than a question from what you've said.

[2018-05-17 07:58] pdaleramirez commented on #29
You will have to refactor the way you generate the json data. You can collect all entries that matches the legacyId and have it return as their entry ids, So you will have
[code]
Where 12, 13 and 14 are entry ids instead of legacyIds

[2018-05-17 08:17] colinmeinke commented on #29
Yep, that would require me to write a script that does that lookup. It also means instead of importing all my data in one or two batches, I have to then run that script half way through the import. All in all not that convenient, as I want to run the migration process at regular intervals. Please see this as a feature request.

[2018-05-17 13:16] colinmeinke commented on #29
I spent the time writing a script to convert `legacyId` to element id and I _still_ get `Undefined offset: 0` error on import. Am I doing something wrong here?

[code]

[2018-05-17 18:53] #33 closed

[2018-05-17 18:53] #27 closed

[2018-05-17 20:30] timkelty opened #34 "Installation breaks craft console (Invalid path alias)"
```Exception 'yii\base\InvalidArgumentException' with message 'Invalid path alias: @barrelstrength/sproutbase/controllers'``

`1.0.0-beta.7`

[2018-05-17 20:51] BenParizek commented on #34
@timkelty Can you update to `1.0.0-beta.10`. We just released it today and it should resolve this issue.

You'll want to use the 'Update All' option if you have more than one Sprout plugin installed as several things have changed in the application structure.

[2018-05-17 20:56] timkelty commented on #34
Like a charm!

[2018-05-17 20:56] #34 closed

[2018-05-17 21:05] timkelty opened #35 "Unable to import after 1.0.0-beta.10 update (Trying to get property of non-object in…)"
Here's the error from queue log:

[code]

[2018-05-17 23:36] BenParizek commented on #35
@timkelty Can you give me a bit more info on what you are trying to import and how?

Via Copy/Paste or File? Entries or some other Element?  Could you give an example of the JSON that you are using to help us recreate?

[2018-05-18 01:02] BenParizek opened #36 "Seeding should respect max character limits"
### Description

Seeding was failing on some matrix validation / max chars set to 30 and some other things.

Is there any way to get the Seeding to respect field character limits? I have some fields limited to 30, 90 and 3 characters total.

### Steps to reproduce

1. Create a field with a max character limit
2. Try to seed it

### Notify

- [ ] [16288936027](https://app.intercom.io/a/apps/dfa024e

[2018-05-18 03:46] pdaleramirez commented on #29
@colinmeinke I could not re-produce this issue. I will debug it personally.

[2018-05-18 07:26] colinmeinke commented on #27
This works great!! Thanks @BenParizek @pdaleramirez ✌️

[2018-05-18 08:04] colinmeinke commented on #29
@pdaleramirez hmm. That's odd. The query my script is doing to retrieve IDs is `SELECT * FROM content WHERE field_legacyId=${legacyId}` and then using `elementId` from the first result. I **think** elementId is the same as the entry id?

[2018-05-18 08:05] colinmeinke commented on #29
It doesn't seem to be a problem with not finding the id though, more that it's not expecting an array.

[2018-05-18 12:38] timkelty commented on #35
@BenParizek Here's the most distilled version, where I'm still getting the error:

- Tried both copy/paste and file
- Entries

[code]

[2018-05-18 12:49] BenParizek commented on #35
@timkelty Ah. We changed the path of... everything.

I should document this better, but I think the issue is just that the @model namespace has changed:

[code]

[2018-05-18 12:56] timkelty commented on #35
Same error with updated `@model`

[code]

[2018-05-18 19:22] alexmglover opened #37 "Setting unknown property: craft\elements\db\AssetQuery::sourceId"
### Description
Attempting to seed and am getting this error:

`Setting unknown property: craft\elements\db\AssetQuery::sourceId`

### Steps to reproduce

1. Create a channel with an assets field.
2. Attempt to seed 100 entries into this channel, get a failed error message.

### Additional info

- Craft version: 3.0.8
- PHP version: 7.1.16
- Database driver & version: 5.6.40
- Plugins & versions:

[2018-05-18 19:25] alexmglover commented on #37
I should probably say that the assets are being stored on S3, and I am not sure if that is possibly the cause of this issue.

[2018-05-18 22:26] #35 closed

[2018-05-18 22:32] BenParizek commented on #37
@alexmglover So far, I'm unable to recreate this issue. I did discover a small asset seed bug and pushed a fix in Sprout Import 1.0.0-beta.11, however, I'm not sure it's related.

Can you update to the latest and test again? While I love the Seed 100 entries path, might be better to test with just a couple seed entries to rule out any memory issues or other outlier cases that could be happening.

[2018-05-19 01:48] alexmglover commented on #37
Thanks, I sent you an email. Lowering the number of seeded entries did not
do the trick.

On Fri, May 18, 2018 at 6:32 PM Ben Parizek <notifications@github.com>
wrote:

[2018-05-21 08:28] pdaleramirez commented on #21
This bug is fixed on beta versions of sprout-import

[2018-05-21 12:41] pdaleramirez commented on #36
Fixed here for plain text field 7f9cb3bc4a35919883e9a95c34920906b85f4c61

[2018-05-21 14:16] timkelty opened #38 "`settings.updateElement` does not work"
### Description
Subsequent imports of the following always create new products, when they should be updating (as they have matching `legacyId` data).

[code]

[2018-05-21 15:30] timkelty opened #39 "Add support for matchValue to match arrays on a custom field"
The docs show `related.[fieldHandle].matchValue` being able to be an array: https://sprout.barrelstrengthdesign.com/craft-plugins/import/docs/importing-data/create-elements-on-the-fly#example-using-the-createifnotfound-and-newelements-keys

However, if it is an array, an error is thrown.

The problem exists [here](https://github.com/barrelstrength/craft-sprout-import/blob/f01563c4914e5fd25722bbde3

[2018-05-21 22:43] BenParizek opened #40 "Remove Seeded things from the seed table if deleted elsewhere."
Either we need to watch and try to update this when any item is deleted or, maybe we just have a cleanup button that removes any items that are no longer found if someone wants more accuracy.

Can we do this through a database Delete CASCADE rule?

[2018-05-22 04:43] BenParizek commented on #37
@alexmglover We've looked into this and are not seeing any related issue in our code. We think the issue may be that the example in our docs that you might have referenced is using Craft 2 properties.

[sourceId](https://docs.craftcms.com/api/v3/craft-elements-db-assetquery.html#method-sourceid) has been deprecated and replaced by [volumeId](https://docs.craftcms.com/api/v3/craft-elements-db-asset

[2018-05-22 04:51] BenParizek commented on #39
@timkelty This is expected behavior at the moment. I've updated this to be a feature request.

We do support matching arrays on default properties of an element. The example you referenced uses the `slug` property. You could also use an array to match `id` or any other default properties on an Element. [See here](https://github.com/barrelstrength/craft-sprout-import/blob/v1/src/services/ElementImp

[2018-05-22 04:56] BenParizek commented on #29
@colinmeinke fyi, I've just added a comment to another, a related ticket that may better explain why the array syntax is failing in your first use case. See here for more info: https://github.com/barrelstrength/craft-sprout-import/issues/39#issuecomment-390862042

I'll leave this ticket open until we get your `Undefined offset` question above resolved.

[2018-05-22 05:38] colinmeinke commented on #29
@BenParizek cool, this doesn't explain why I get the same error when switching it out for entry ids though.

[2018-05-22 08:11] pdaleramirez commented on #30
@BenParizek Craft does not support this yet. I submitted an issue about this here https://github.com/craftcms/cms/issues/2909

[2018-05-22 11:16] alexmglover commented on #37
For the example I sent, I installed Craft 3, installed Sprout Import from the plugin store, added a few fields and then tried to run the seeder. I didn’t add anything manually to attempt to seed, so I’m not sure what example you are referring to.

[2018-05-22 11:44] colinmeinke commented on #29
Not working with `id` was my error. I needed to add it to the `related` object, not `fields`. I will close this in favor of https://github.com/barrelstrength/craft-sprout-import/issues/39

[2018-05-22 11:44] #29 closed

[2018-05-22 11:49] BenParizek commented on #36
The update for the Plain Text field has been pushed live in `v1.0.0-beta.12`. We'll leave this task open until we audit the rest of the fields and make sure we're taking into account any other limits we should be respecting.

[2018-05-22 11:51] #21 closed

[2018-05-22 11:51] BenParizek commented on #21
Fixed in release `v1.0.0-beta.12`

[2018-05-22 11:54] BenParizek commented on #37
@alexmglover My mistake, I got tripped up on what I thought the problem was. Thanks for the example and this was an issue on our end.

I just pushed a fix in `v1.0.0-beta.12`, now available in the plugin store if you'd like to kick the tires.

[2018-05-22 11:54] #37 closed

[2018-05-22 12:33] timkelty commented on #39
Gotcha, thanks.

If it doesn't end up getting tackled soon, maybe it would be a good idea to throw an exception if the `matchValue` isn't a default prop.

[2018-05-22 15:41] alexmglover commented on #37
Great! Thank you so much!

[2018-05-23 17:14] timkelty opened #41 "Add site selection to "Seed" for multi-site compatibility"
Currently it appears to only use the "default site" (or perhaps whatever site your control panel is currently on).

In a multi-site setup, this can cause errors, as certain sections are only applicable to certain sites.

![screen shot 2018-05-23 at 1 13 31 pm](https://user-images.githubusercontent.com/18329/40440140-2f7cb9a8-5e8b-11e8-85ac-1e71461bd5f8.png)

[2018-05-23 18:16] timkelty opened #42 "Can a Field Importer be used to mutate import data (not just mock data)?"
I've made a FieldImporter for SuperTable: https://github.com/verbb/super-table/pull/158

My goal is to be able to import data like this (`productOptions` being the SuperTable):
[code]

The problem is, for it to import, a `type` needs to be specified, like so:
[code]

I don't want the data to require it, because it can be inferred from the field itself.

So the question is, how and where can I prep

[2018-05-25 08:43] colinmeinke commented on #31
@BenParizek @pdaleramirez any thoughts on this one? This is the only issue we're waiting on an answer on, before we do a final migration.

[2018-05-25 16:31] pdaleramirez commented on #31
That should work if the image is on the Craft Asset. Try removing `folderId` maybe it is in the wrong folder.

[2018-05-28 05:51] pdaleramirez commented on #38
Fixed the issue here https://github.com/barrelstrength/craft-sprout-import/commit/9393860d367998cdda14886d7e9a8509fd6d1ca5

[2018-05-28 07:39] pdaleramirez commented on #32
I could not recreate this issue. Imported the example Section-All-Field.json and seed the created testSection. I did not encounter any error.

[2018-05-28 10:35] pdaleramirez commented on #28
@BenParizek I don't think this is a bug but a feature where you can modify the field settings on import.

[2018-05-28 10:44] pdaleramirez commented on #36
@BenParizek I think charLimit only applies to PlainText. We can close this issue.

[2018-05-29 07:27] pdaleramirez commented on #16
The way you can import categories with a parentId is assign a `newParentId: 99` attribute
[code]
I also added a new feature where you can assign a slug value to `parentSlug: category-slug`
E.g.
[code]

[2018-05-29 08:51] colinmeinke commented on #28
@pdaleramirez I'd classify it as a bug, as it does not match the behaviour of the Craft admin UI. Why would field settings need to be modified on import?

[2018-05-29 11:15] colinmeinke commented on #31
@pdaleramirez ohh perfect, thanks!

[2018-05-29 13:09] BenParizek commented on #30
Based on Brandon's comment:

We'll consider this expected functionality and won't be adding support for this in Sprout Import. If `dateUpdated` or `dateCreated` need to be modified, the best approach is to handle those updates with a separate script.

[2018-05-29 13:33] BenParizek opened #43 "Add support for min and max settings during seeding in all native Craft fields"
Some fields we import don't take into account the field settings regarding min and max limits. Let's add support for the following settings in our seeding behavior:

- Matrix Fields have settings for Min Blocks and Max Blocks
- Number Fields have a Min, Max, and Decimals setting
- Table Fields have Min Rows and Max Rows

[2018-06-04 10:50] pdaleramirez commented on #43
@BenParizek I have finished this. All committed on develop branch

[2018-06-04 16:42] timkelty opened #44 "Items show up in "Weed" tab, regardless of your "Seed data" option."
Test with both File and CopyPaste

[2018-06-04 16:59] timkelty commented on #38
@pdaleramirez @BenParizek This still doesn't work (I'm testing on the `bugfix/update-element-custom-field` branch). New elements are always still created.

[2018-06-04 17:22] timkelty commented on #38
The fix doesn't work because you are ignoring the `$matchCriteria` if matchBy isn't a base attribute. In this case that doesn't work, as the matchCriteria specifies a different site.

Furthermore, I don't see any reason for the `search` param acrobatics at all…Element Queries can search custom fields as params: https://docs.craftcms.com/v3/element-queries.html#custom-field-parameters

[2018-06-04 17:31] timkelty commented on #38
PR here: https://github.com/barrelstrength/craft-sprout-import/pull/45/

[2018-06-05 15:32] BenParizek commented on #38
Thanks @timkelty

Perhaps the `search` param acrobatics are something we carried over from Craft 2 that is no longer needed. We'll review and see if we can simplify this as your PR suggests.

[2018-06-05 15:47] timkelty commented on #38
Could be. You can do that in Craft 2 as well but it was never documented very well.

If you get into a full refactor, it might make sense to just ditch matchBy/matchValue all together and let the user use the full power of an element query with matchCriteria.

[2018-06-05 15:49] timkelty commented on #41
In it's current state this is a bit of a bug as well…as it can leave you unable to seed:

[code]

[2018-06-06 09:27] pdaleramirez commented on #38
I have tested this and it works without the search query. I merged your pull request @timkelty

[2018-06-18 12:11] pdaleramirez commented on #44
Fixed here ebb03411f97d159aee694dc837e79bd779d79e98

[2018-06-19 15:45] BenParizek opened #47 "Add Product and Order support"

[2018-06-25 16:37] BenParizek opened #48 "Remove matchBy and related legacy match references in Entry::generateEntry integration"
Should use params instead and deprecate matchBy here:
https://github.com/barrelstrength/craft-sprout-import/blob/v1/src/importers/elements/Entry.php#L155

[2018-06-25 18:50] BenParizek commented on #17
@Coysh Support for importing Users into Groups has been added in the latest release:
https://sprout.barrelstrengthdesign.com/docs/import/users.html#user-groups

[2018-06-25 18:50] #17 closed

[2018-06-25 18:56] BenParizek commented on #31
@colinmeinke This is now supported in the latest release. The syntax is a bit different than what was proposed above. For examples see:

- [Related Attributes](https://sprout.barrelstrengthdesign.com/docs/import/related-attributes.html#users)

[code]

[2018-06-25 18:56] #31 closed

[2018-06-25 18:57] BenParizek commented on #38
@timkelty This has been fixed in the latest release. We've also done away with the `matchBy`, `matchValue`, and `matchCriteria` syntax in favor of a new `params` syntax which gives you control to do whatever you would like. All Craft 3 examples have been updated in the docs to use `params`.

[code]

[2018-06-25 18:57] #38 closed

[2018-06-25 18:59] BenParizek commented on #39
@timkelty Noting this here too.

This has been updated in the latest release. We've done away with the matchBy, matchValue, and matchCriteria syntax in favor of a new params syntax which gives you control to do whatever you would like. All Craft 3 examples have been updated in the docs to use params.

[2018-06-25 18:59] #39 closed

[2018-06-25 18:59] BenParizek commented on #44
This is resolved in the latest release now available in the plugin store.

[2018-06-25 18:59] #44 closed

[2018-06-25 18:59] #47 closed

[2018-06-25 19:00] #43 closed

[2018-06-25 19:01] BenParizek commented on #16
@EmptyStreets This has been improved in the latest release now available in the plugin store. More details on the Categories doc page:
https://sprout.barrelstrengthdesign.com/docs/import/categories.html#hierarchy

In short, you can now match parents by looking up their element IDs using whatever criteria you would like. This example looks up the `newParentId` using the `slug` value:

[code]

[2018-06-25 19:01] #16 closed

[2018-06-25 19:02] #32 closed

[2018-06-28 04:47] timkelty commented on #38
Thanks all!

[2018-06-29 19:50] BenParizek opened #49 "Improve error messaging when fields are set to the wrong data type"
Importing incorrect data types throws errors that aren't that helpful. For example, if you set a Plain Text field to null you'll get an error about StringHelper expecting a string, but no mention of which field failed. This is true for other types too. Set a number to null, etc.

[2018-06-29 19:59] BenParizek opened #50 "Review default seed link generation"
When generating fake links, Faker can accidentally assemble a link to a NSFW site. See [2223529](https://app.breeze.pm/projects/15868/cards/2223529)

While this is technically a random issue, we should review and consider updating the default link generation to be less random so nobody is put in an awkward situation with clients and colleagues.

### Notify

- [ ] Christopher Kennedy on Slack

[2018-06-29 20:07] BenParizek opened #51 "Review, cleanup, and standardize helper keys"
- [ ] Do we have the `enableVersioning` setting in a good place in the array right now? Review in docs.
- [ ] We still reference `createIfNotFound` in docs but it appears it is no longer in the C3 code
- [ ] Review matchBy in docs. Make sure it's only in Craft 3 examples.
- [ ] Document how to retrieve 'orderStatusId' by passing just order status handle uses 'related' and remove any specific code

[2018-06-29 20:09] BenParizek opened #52 "Review Order Number generation"
OrderElement generates a random number for importing orders
(Review why we are using the service layer vs the Order Importer method)

Can we remove `Order Importer->getRandomCartNumber`? Doesn't appear in use.  We can potentially update to use this and remove the more simple call to the service layer for a random number. Or was this because Craft had a bug in the Order Service call that we were ma

[2018-06-29 20:12] BenParizek commented on #25
@colinmeinke This has been improved in the latest release.

We now support matching several of these attributes via a new [Related Attributes](https://sprout.barrelstrengthdesign.com/docs/import/related-attributes.html) feature.

attributes.authorId (authorUsername)
attributes.typeId (typeHandle)
attributes.sectionId (sectionHandle)

We'll look into extending this to more items next:

- matchCrite

[2018-07-07 00:49] oadslug opened #53 "Problems with dateCreated and dateUpdated when importing users"
### Description

I can't seem to import `dateCreated` or `dateUpdated` when importing users — it always reverts to the current datetime.

I've tried the compact version:

    "dateCreated": "2017-01-16 03:47:23",

And the more lengthy version that I have seen in various doc examples:

     "dateCreated": {
            "date": "1/16/2017",
            "time": "3:47 PM"
      },

### Additional info

[2018-07-07 02:36] oadslug commented on #53
I sort of understand the reasoning — just don't particularly agree. On most project wouldn't matter, but in this case, they have 10+ years of customers (19,000+). Knowing how long they have been a customer is extremely valuable. And I know that I can add another field to store this data, but that seems silly. Not to mention the fact that you can't sort list view on custom fields without writing so

[2018-07-07 03:39] BenParizek commented on #53
Thanks @oadslug. I'll mark this as a feature request and we'll consider some options when we have a chance.

Yeah, unfortunately, this isn't the Craft way right now so we'll need to explore alternate ways to support it. Thanks for calling out the issue in the docs. We'll get that cleaned up and try to clarify the behavior better.

[2018-07-07 03:42] BenParizek opened #54 "Add support for dateUpdated and dateCreated when importing Elements"
Craft currently doesn't support this, however, there may be several use cases that could benefit from this to migrate historic data.

See: https://github.com/craftcms/cms/issues/2909

[2018-07-07 03:45] BenParizek commented on #53
Feature Request issue added here: https://github.com/barrelstrength/craft-sprout-import/issues/54

[2018-07-07 03:45] #53 closed

[2018-07-07 03:46] BenParizek commented on #30
Feature Request issue added here: https://github.com/barrelstrength/craft-sprout-import/issues/54

[2018-07-07 03:46] #30 closed

[2018-07-19 04:02] cornernote opened #55 "Product Variants - extra content fields not importing"
### Description

There is no way to import content fields due to the way `craft\commerce\helpers\Product`.  It wants the data to be in the request, but in the case of an import then it's not.

### Steps to reproduce

1. Setup a Product Type so that it allows variants, and with a text field called `body`.

2. Import using the following data, :

[code]

### Additional info

- Craft version: Craft So

[2018-07-20 12:29] BenParizek commented on #55
Thanks @cornernote

Looks like Luke has committed a fix on the Craft side: https://github.com/craftcms/commerce/commit/1e5ec51ac342db5919d23ed5ab34207c478b2d6b.

Let us know if the issue persists.

[2018-07-31 03:15] brettgullan opened #56 "Composer dependency conflict with Sprout-Fields?"
### Description

I have a Craft 3.0.17.1 install, with Sprout-Fields 3.1.5 installed.
When I attempt to install Sprout-Import I get the following Composer error:

[code]

The error is the same, regardless of whether I attempt to install Sprout Import via Plugin Store, or via Composer CLI.

Is there a way around this, or does it need a version bump in Sprout Import's composer.json?

[2018-07-31 04:16] brettgullan commented on #56
Hi @BenParizek,

I tried removing my `vendor` directory and re-running `composer install` and got the same error message.

Copy of my composer.json file attached.

Thanks!

[composer.json.zip](https://github.com/barrelstrength/craft-sprout-import/files/2243723/composer.json.zip)

[2018-07-31 04:36] brettgullan commented on #56
UPDATE …

So, I managed to get it working, by first removing the `barrelstrength/sprout-fields` entry from my `composer.json` file, then running `composer install`, followed by `composer require barrelstrength/sprout-fields`.

This installs sprout-import `1.0.0-beta.13` and sprout fields `3.1.4`.

The Craft Updates utility lists sprout fields `3.1.5` as available. But if I try to install it, I get

[2018-07-31 15:01] BenParizek commented on #56
@brettgullan Thanks for the update. We'll explore a bit more and see what we find.

[2018-08-01 16:54] BenParizek commented on #56
@brettgullan I just pushed Sprout Import v1.0.0-beta.14 up to the plugin store which should resolve this. Let me know if you continue to run into anything.

[2018-08-01 16:54] #56 closed

[2018-08-16 05:03] roberttolton opened #57 "Integrity constraint violation for key 'craft_content_elementId_siteId_unq_idx'"
### Description
Have imported one entry, for one site (locale). Am trying to update it with a title in another language.

### Steps to reproduce

1. Use this JSON:
[code]
2. Import
3. Change the `siteId` to another site, e.g `2`
4. JSON:
[code]
5. Import fails and log shows `[error][sprout-import] SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '212-2' for key 'craft_content_

[2018-08-27 14:13] robmcfadden opened #58 "Problem with date format"
### Description

I'm getting `Call to a member function getTimestamp() on string`. I've tried multiple date formats for `postDate` and `expiryDate`, but haven't had any luck. Is there a bug here? Or do I need to use a specific date format? Thanks!

### Steps to reproduce

1. Import an entry with a `postDate` or `expiryDate` included.
2. Get this error: `Call to a member function getTimestamp() on

[2018-08-27 14:30] BenParizek commented on #58
It appears `getTimestamp` is being triggered by Craft's `getStatus` method:

[code]

[2018-08-27 14:30] timkelty commented on #58
@BenParizek here's the full trace:

[code]

[2018-08-30 07:32] pdaleramirez commented on #48
@BenParizek there is no related setting on generateEntry but on other function still supported as well as the params settings,

[2018-08-30 08:50] pdaleramirez commented on #58
@BenParizek this is a bug on craft 3 core code. When you add the expiryDate value it throws an error. This works in craft 2 sprout import. We can submit this issue.

[2018-08-30 12:47] timkelty commented on #58
Separate from Sprout Import? I can add an expiry date to an entry just fine…

[2018-08-30 22:04] andrelopez opened #59 "Import Sprout SEO redirects and wrong redirect after importing process"
We are looking to import thousands of redirects and were trying to use the SEO Import CSV>>JSON tool.

The first issue is that it didn't like the suggested format of:

oldUrl, newUrl, method, regex, import (5 elements)

It throws and error and says CSV is invalid. However, it would accept:

oldUrl, newUrl, method, regex (4 elements)

Not sure what the issue is there but wanted to flag.

So the sec

[2018-08-30 22:06] andrelopez opened #60 "Import Sprout SEO redirects and wrong redirect after importing process"
@andrelopez commented on [Thu Aug 30 2018](https://github.com/barrelstrength/craft-sprout-forms/issues/155)

We are looking to import thousands of redirects and were trying to use the SEO Import CSV>>JSON tool.

The first issue is that it didn't like the suggested format of:

oldUrl, newUrl, method, regex, import (5 elements)

It throws and error and says CSV is invalid. However, it would accept:

[2018-08-30 22:07] #60 closed

[2018-09-05 05:50] pdaleramirez commented on #58
I found out that the issue is on sprout-import and not on craft. I added the fix here https://github.com/barrelstrength/craft-sprout-base/commit/8de6c6de88dda1ff7fd153674a1070808a247046

[2018-09-05 16:18] jonXmack opened #61 "When relating products the variants object is required"
### Description
When using the Commerce Products field the related object requires the variants fields to be defined.

The content below works, but without the `variants` object it failed.

[code]

[2018-09-06 05:48] pdaleramirez commented on #59
I fixed this issue. @BenParizek it is committed on develop branch of sprout-import and sprout-seo repo.

[2018-09-06 19:15] robmcfadden opened #62 "Update existing elements no longer working"
### Description

It was working recently with this version of Sprout Import. I'm guessing it may be a Craft update, or sprout-base update, that broke it. It duplicates entries now when I'm trying to overwrite existing ones.

### Additional info

- Craft version: 3.0.23.1
- PHP version: 7.2.8
- Database driver & version: MySQL 5.7.22
- Plugins & versions: Sprout Import 1.0.0-beta.14

[2018-09-07 15:30] hendrikeng opened #63 "Example Import for Commerce Products doesn't work"
### Description
Trying to import the example Json Import for craft commerce products fails

### Steps to reproduce

1. import the snippet from the docs
2.

### Additional info
- Craft Commerce; 2.0.0-beta.8.1
- Craft version: 3.0.0-RC10
- PHP version: 7.2
- Database driver & version: mysql  Ver 15.1 Distrib 10.2.14-MariaDB, for osx10.13 (x86_64) using readline 5.1
- Plugins & versions: v1.0.0-beta

[2018-09-07 15:31] robmcfadden commented on #62
Scratch that! I just confirmed that it's because the default Craft site changed and I didn't have a siteId in the matching criteria. Sorry for the false report. :/

[2018-09-07 15:31] #62 closed

[2018-09-07 17:19] BenParizek commented on #63
@hendrikeng Can you update to the latest version of Craft, test again, and share the specific error you're getting? Do you happen to have a multi-Site Craft install?

[2018-09-08 14:10] hendrikeng commented on #63
@BenParizek I updated everything to the last versions and run the import again, the error from the que.log is:

´´´
2018-09-08 16:08:43 [-][-][-][error][sprout-import] Unable to run Sprout Import job.
2018-09-08 16:08:43 [-][-][-][error][sprout-import] SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'orderLanguage' cannot be null
The SQL being executed was: INSERT INTO `commerce_order

[2018-09-11 02:25] BenParizek opened #65 "Add support assigning multiple UserGroups when importing a user"
Review:
- Add UserGroup setting class for importing user groups and relating user group id
- Add returnRelatedValue method that allows setting importer to modify the return value of related attributes by params

[2018-09-11 05:14] pdaleramirez commented on #65
I have added the feature. It requires this commit on sprout-base repo https://github.com/barrelstrength/craft-sprout-base/commit/1ce501f417378698b8f75809b550a905cefe8ec6

Examples for this feature:
**Entry Type for Entries**
[code]
**User Groups for Users**
[code]

[2018-09-11 06:37] pdaleramirez commented on #48
@BenParizek I have removed the entryParams code that has matchBy and matchValue reference because it seems that it is not used anymore in seeding entries.

[2018-09-11 12:27] #48 closed

[2018-09-11 12:28] BenParizek commented on #58
@robmcfadden This is resolved in v1.0.0-beta.15, now available via the Plugin Store

[2018-09-11 12:28] #58 closed

[2018-09-11 12:29] BenParizek commented on #61
@jonXmack This is resolved in v1.0.0-beta.15, now available via the Plugin Store

[2018-09-11 12:29] #61 closed

[2018-09-11 12:53] #59 closed

[2018-09-11 12:55] BenParizek commented on #65
@pdaleramirez Can you post an example of importing Multiple User Groups?

[2018-09-12 05:59] pdaleramirez commented on #63
I fixed this bug and it now requires to have the` "orderLanguage": "en-US"` attribute.

[2018-09-12 12:11] BenParizek commented on #63
@pdaleramirez We may need another way to handle the fallback customer logic in this commit or perhaps we just need to throw an error if a customer is required and not provided.

`Plugin::getInstance()->getCustomers()->getCustomer()` calls `Craft::$app->getSession();` so it will cause issues if the scenario is encountered via a console command.

[2018-09-13 19:44] BenParizek opened #66 "Order Importer not being loaded?"
It appears Sprout Import may not be registering the Order Element Importer. It appears to register Products when Commerce is installed. Imported classes here:
barrelstrength\sproutbase\app\import\services\Importers

[2018-09-15 14:18] BenParizek opened #67 "newElements parameter causes countable bug - PHP 7.2"
A user had to set to set createIfNotFound to false the create new items and set an empty array on the newElements Param because otherwise it kept trying to count(NULL).

	'createIfNotFound' => false,
	'newElements' => []

http://share.barrelstrength.co/0Q1J2c3j2a3h

### Notify

- [x] Robert Tolton on Slack

[2018-09-21 11:36] BenParizek opened #68 "Move Sprout Import core logic to Sprout Base"
See: https://app.breeze.pm/projects/15868/cards/2353441

[2018-10-06 14:09] andrelopez opened #69 "Add support for Asset folderPath Property"
We will consider supporting this feature in the future but it may require some refactoring.

----

More info: https://craftcms.stackexchange.com/questions/27956/sprout-import-doesnt-recognize-asset-folderpath-property

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_e7oj)

[2018-10-16 06:44] pdaleramirez commented on #69
I have answered the issue here https://craftcms.stackexchange.com/questions/27956/sprout-import-doesnt-recognize-asset-folderpath-property/28097#28097

[2018-10-25 13:40] pdaleramirez commented on #66
This gets fixed in this pull request merge here https://github.com/barrelstrength/craft-sprout-import/commit/fc5a56715a07e4ccaf052b834ab34ea792329069
currently in develop branch

[2018-10-28 17:47] #54 closed

[2018-10-28 18:42] BenParizek opened #70 "Add Import Console Controller"
./craft sprout/import/run
	--file (required)
	--seed (optional)

./craft sprout/import/run --file="@root/import.json" --seed=true
./craft sprout/import/run --file="path/to/import.json path/to/import2.json path/to/import3.json" --seed=true

Make sure to run the queue.
./craft queue/run

[2018-10-28 18:43] BenParizek opened #71 "Add Seed Console Controller"
./craft sprout/seed/generate
	--element (required)
	--settings (required)
	--quantity

./craft sprout/seed/generate --element="craft\elements\Entry" --settings="channel=news" --quantity="3"
./craft sprout/seed/generate --element="barrelstrength\sproutbase\app\import\importers\elements\Entry" --settings="channel=news" --quantity="3"

Make sure to run the queue.
./craft queue/run

[2018-10-29 21:55] #68 closed

[2018-11-01 02:52] BenParizek opened #72 "Document changes in @model references"
We recently moved many Importer classes to Sprout Base.

Let's create a list of all classes that changed to share with users who are updating.

We'll need to update the Sprout Docs repo references too:
https://github.com/barrelstrength/sprout-docs

[2018-11-01 10:17] pdaleramirez commented on #72
Here is the list of all the changed importer namespaces
[code]

[2018-11-01 10:18] pdaleramirez commented on #72
Committed the namespaces changes on sprout docs here https://github.com/barrelstrength/sprout-docs/commit/da8197693498c9d6c7cb220fda072dc067796746

[2018-11-01 11:19] pdaleramirez commented on #67
This already has been fixed on this merge request https://github.com/barrelstrength/craft-sprout-import/commit/fc5a56715a07e4ccaf052b834ab34ea792329069
Fixed on version **v1.0.0-beta.15**

[2018-11-01 12:56] BenParizek opened #73 "Orders are documented but don't appear to ever get loaded"
Documentation:
https://sprout.barrelstrengthdesign.com/docs/import/orders.html

Only Products are loaded if Commerce is installed:
https://github.com/barrelstrength/craft-sprout-base/blob/v4/src/app/import/services/Importers.php#L107

Let's confirm the Orders example works as expected and get Orders loading properly.

Also see comment here:
<img src="https://frontapp.com/assets/img/icons/favicon-3

[2018-11-02 11:54] rattikarl commented on #73
I think this one here https://github.com/barrelstrength/craft-sprout-import/commit/c5fe1cd1cce5ee5c6efeebf884b40f80875a4bf4 was the last commit when order imports were working for me

[2018-11-02 14:49] #67 closed

[2018-11-02 15:42] #72 closed

[2018-11-02 15:42] #70 closed

[2018-11-02 15:42] #71 closed

[2018-11-02 16:06] #42 closed

[2018-11-05 20:51] rattikarl commented on #73
Works fine again ( with your latest release https://github.com/barrelstrength/craft-sprout-import/commit/2cb64a4d16397766eb31ae429d624cd778bc837a )
However some fields from your order example aren't imported.
Following fields stay empty:

"countryCode": "GB",
"address1": "45 Fam Road",
"city": "Partu",

[2018-11-06 15:50] BenParizek commented on #66
We seem to only be loading the Product Class:

[code]

[2018-11-07 12:52] pdaleramirez commented on #73
@BenParizek The Order Element importing is working. The reference you posted which is this https://github.com/barrelstrength/craft-sprout-base/blob/v4/src/app/import/services/Importers.php#L107
is only for Field Importers. We do not need any Field Order importer. @rattikarl can you try the latest version and let us know here if it's working

[2018-11-08 23:35] rattikarl commented on #73
Import works fine with v1.0.0-beta.18 https://github.com/barrelstrength/craft-sprout-import/commit/2cb64a4d16397766eb31ae429d624cd778bc837a
only 'qty' isn't imported correctly. Whatever value I enter here, it always switches to '1' in craftcommerce.  @pdaleramirez

[2018-11-12 09:40] pdaleramirez commented on #73
@rattikarl I was not able to reproduce the qty issue. It is working on the **v1.0.0-beta.18**.

[2018-11-12 11:07] pdaleramirez commented on #65
[code]

[2018-11-12 14:04] wewereyoung commented on #73
@pdaleramirez Sounds good, I'll try again with a fresh install

[2018-11-12 21:38] #66 closed

[2018-11-12 21:39] #73 closed

[2018-11-16 16:46] rattikarl commented on #73
Tried it with a completely fresh Craft+CraftCommerce+ Sprout Import Plugin install and keep getting
this error now

[code]

[2018-11-16 16:51] BenParizek commented on #73
@rattikarl Can you create a new issue or send a note to sprout@barrelstrengthdesign.com with a complete example of the code you are using for the import? This thread was initially about getting things working in general and now it seems like we have a more specific issue to figure out around a particular type of data.

[2018-11-16 17:14] rattikarl opened #74 "Importing Commerce Orders won't work"
### Description
Tried to import orders with a fresh craft commerce install.
Used your sample json for testing just changing user and skus to existing parameters.

[code]

it fails with following errors:

https://gist.github.com/rattikarl/0f0a167b3d71f2444ed9abf8c0e6c533

### Steps to reproduce

1. Took Sample import from Website and changed SKUs to existing ones
2. Clicked on Import and checked lo

[2018-11-18 01:09] rattikarl commented on #74
If i install  "ostark/craft-async-queue" plugin: "^1.3.0", via composer I do not get this error anymore. Order imports work that way. only quantity is not imported correctly it always switches to 1 no matter what I enter in the import.json

[2018-11-22 12:44] pdaleramirez commented on #74
@BenParizek
There is an issue on craft commerce on importing order element through jobs queue. I submitted an issue about this and seems that it still has not resolve. I  updated the issue and mention luke about this.
Submitted issue here https://github.com/craftcms/commerce/issues/375

[2019-01-02 23:27] kmgdevelopment opened #75 "Feature Request: Better Error Handling When Import Fails"
I'd like to see better error handling when an import fails for whatever reason. For example, if you forget to include the `typeId` parameter, or if you misspell the name of a field.

Currently the import runs and silently fails - no new entry is created yet there are no errors to explain why the entry wasn't created. Or an entry is created but a field is not populated and there are no errors to ex

[2019-01-02 23:46] kgrote commented on #75
Also imports will fail silently if the field being imported exceeds the character limit of the Craft field.

[2019-01-03 23:19] kgrote opened #76 "Import Times are in UTC Instead of Server Time"
### Description
Entries imported using the documented date format are imported in UTC time instead of the server's timezone:

[code]

A quick fix would be to update the docs to show the full date formatting:

[code]

Additionally the "Weed" panel in the control panel shows the Import Dates in UTC rather than the local server time.

[2019-01-11 05:18] BenParizek commented on #75
Thanks for the feedback, Kristen. We'll review each of these ideas and integrate what we can when we have a chance. In some scenarios it gets a bit tricky, but we do try to log errors where we can and would be happy to make these issues easier to diagnose if we can do so.

[2019-01-11 05:21] BenParizek commented on #76
Thanks for reporting. We'll get this resolved in the next release.

[2019-01-16 08:31] pdaleramirez commented on #76
@BenParizek This is not a bug. The default behavior if you import a date will be added in UTC in the database but if you wish to add it on different timezone you can have array format with `timezone` value.

[2019-01-24 20:23] kgrote opened #77 "Ignores JSON Errors on Multiple Import Files"
### Description
When importing more than one JSON file at a time, Sprout Import will not report if there are JSON errors in any files beyond the first one. So the import will appear to run without errors but the import files will not be run.

### Steps to reproduce

1. Upload 2 or more JSON files for import, the second one containing JSON errors
2. Run the import.
3. Sprout Import will run the imp

[2019-01-29 13:10] #65 closed

[2019-01-30 19:00] BenParizek opened #78 "Craft 3.1 upgrade error"

[2019-01-31 09:56] pdaleramirez commented on #77
This commit fixes this issue https://github.com/barrelstrength/craft-sprout-base/commit/3e748db1fcf5776ab62655caba3636786041c2a4

@BenParizek I will have this merge also when we separate sprout-base-import
Tests:
2 files - 1st file valid - 2nd file invalid = Displays 2nd file error json and imports first file successfully
2 files - 1st file invalid - 2nd file valid = Display 1st file error json an

[2019-02-05 14:08] BenParizek commented on #63
This example has been updated in the docs.

[2019-02-05 14:08] #63 closed

[2019-02-07 03:11] pdaleramirez commented on #76
I have modified the Weed page to display the uploaded date and time based on the user's time setting in the control panel. This will be on the next release.

[2019-02-14 03:23] BenParizek commented on #77
@kgrote This issue has been addressed in the latest release: v1.0.0-beta.21

[2019-02-14 03:23] #77 closed

[2019-02-15 15:04] BenParizek commented on #76
@pdaleramirez I'm still seeing a discrepancy here.

If I generate a seed Entry at 2019-02-15 10:00am ET (GMT-5) it creates an Element in the `elements` table and a record in the `sproutimport_seeds` table. Both of those rows are created at the same time. The `dateCreated` column for each of them is 2019-02-15 15:00:00.

However, when I look at both of those item in the UI, I see two different time

[2019-03-11 12:32] hegrobler opened #79 "Class 'barrelstrength\sproutbase\app\import\services\Themes' not found"
### Description
I was doing what I thought would be a routine update via the Cpanel but am receiving the following error: **Class 'barrelstrength\sproutbase\app\import\services\Themes' not found**
I've never run into this type of error and have no idea how to proceed.

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations

[2019-03-11 14:57] BenParizek commented on #79
@hegrobler

Can you share more about what version of Craft and any other Sprout plugins you are using? I do recognize that bug from a while ago but I thought that we had resolved it a while ago as well. The error message uses a path to a class that no longer exists in our plugins, so I believe this may involve an older version somehow.

Can you revert to your old db and try to upgrade Craft to the

[2019-03-14 10:48] pdaleramirez commented on #76
I believe this issue has been fixed. Closing this issue

[2019-03-14 17:01] BenParizek commented on #79
This issue has been resolved in a separate email thread.

[2019-03-14 17:01] #79 closed

[2019-03-15 23:36] BenParizek commented on #76
@kgrote This has been addressed in Sprout Import v1.0.0-beta.22. The Weed page should now output dates in the same way that Craft does elsewhere in the CP.

I've also added a doc page discussing import date formats:
https://sprout.barrelstrengthdesign.com/docs/import/importing-dates.html

I'll consider expanding that to be in the default examples across all examples but it's a start for now.

Than

[2019-03-15 23:36] #76 closed

[2019-03-27 11:29] BenParizek opened #80 "Using sectionId and typeId"
<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_iaz7)

[2019-04-01 16:03] davist11 opened #81 "Unable to locate message source for category 'sprout-email'"
### Description
I'm getting the following error:

[code]

### Steps to reproduce

1. Visit /admin/users/new

### Additional info

- Craft version: Craft Pro 3.1.20.1
- PHP version: 7.0.33
- Database driver & version: MySQL 5.7.25
- Plugins & versions:

<table class="data fullwidth fixed-layout" dir="ltr">
            <tbody>
                                    <tr>
                        <th clas

[2019-04-03 07:14] pdaleramirez commented on #80
@BenParizek i have fixed this bug here https://github.com/barrelstrength/craft-sprout-base-import/commit/0cf6529e63da463f56f0b4ec9e6d43f4dfcf42b7

This fixed bug on Setting attribute relation the caused is the count() method and if it returns a integer it does not pass the condition

[2019-04-10 15:20] BenParizek opened #82 "Getting unknown property: barrelstrength\sproutseo\services\App::sitemaps during C2 to C3 upgrade"
<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_inzn)

[2019-04-10 15:20] BenParizek commented on #82
Issue moved to [barrelstrength/craft-sprout-seo #151](https://github.com/barrelstrength/craft-sprout-seo/issues/151) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-10 15:20] #82 closed

[2019-04-10 16:29] #80 closed

[2019-04-10 16:34] BenParizek commented on #81
@davist11 This should be resolved in Sprout Import v1.0.0-beta.25.

That said, I'll be notifying users that we will be retiring Sprout Import later this week. Craft recently [acquired FeedMe](https://craftcms.com/blog/feed-me) and we'll be adding FeedMe support to all of our Sprout plugins.

We'll continue to offer basic support for existing Sprout Import licenses, but will not be selling any furt

[2019-04-10 16:34] #81 closed

[2019-04-21 01:35] #52 closed

[2019-04-21 14:33] BenParizek commented on #74
Sprout Import has been discontinued and we won't be adding any further support for Commerce Orders.

[2019-04-21 14:33] #74 closed

[2019-04-21 14:34] BenParizek commented on #28
Sprout Import has been discontinued and we won't be adding any additional multi-site support. Please see FeedMe for first-party import support.

[2019-04-21 14:34] #28 closed

[2019-04-21 14:34] #51 closed

[2019-04-21 14:35] #69 closed

[2019-07-18 18:20] schellenbergk opened #83 "Import Redirect Issue"
### Description (screenshots, logs, ...)
Hi Guys,

So I've generated my JSON file through "Redirect Element Import Helper" and I got the following:

[code]

Then after I run Sprout Import using that JSON file it did not import any redirects and in my log file I found:

[code]

### Additional info

- Craft version: 3.2.4.1
- PHP version: 7.3.7
- Database driver & version:  MySQL 5.6.42
- Plugins &

[2019-07-19 23:58] BenParizek commented on #83
@schellenbergk Thanks for the clear ticket. It looks like we moved some things around and the import generation script didn't get updated. I've pushed a small update to Sprout Import (v1.0.2) that should fix this and generate the proper `@model` values now.

[2019-07-19 23:58] #83 closed

[2019-07-22 17:11] schellenbergk commented on #83
Thanks for quick turnaround, worked like a charm :)

[2020-05-27 00:40] cornernote opened #84 "wrong version of sprout-base"
PHP Fatal Error 'yii\base\ErrorException' with message 'Trait 'barrelstrength\sproutbase\base\BaseSproutTrait' not found' in /app/vendor/barrelstrength/sprout-base-import/src/SproutBaseImport.php:29

The composer.json shows the module requesting sprout-base v5:

https://github.com/barrelstrength/craft-sprout-import/blob/v1/composer.json#L30

[code]

The module tries to use `BaseSproutTrait`, which

[2020-05-27 14:57] BenParizek commented on #84
@cornernote As stated on the plugin page and in the README, we've discontinued support of Sprout Import, for some time now. We recommend using the first party FeedMe as an alternative.

If you want to try your luck with using Sprout Import, feel free to do so but we don't have the bandwidth to offer support outside of a support contract.

[2020-05-27 14:57] #84 closed

[2021-01-21 13:25] joomkit opened #85 "Fails to install"
### Description (screenshots, logs, ...)

A fatal error has occurred:

Status: error

Response: <pre>PHP Fatal Error &#039;yii\base\ErrorException&#039; with message &#039;Trait &#039;barrelstrength\sproutbase\base\BaseSproutTrait&#039; not found&#039;

in /home/staging/craft/vendor/barrelstrength/sprout-import/src/SproutImport.php:36

Stack trace:
#0 [internal function]: yii\base\ErrorHandler-&gt

[2021-02-11 14:04] BenParizek commented on #85
Sorry @joomkit, Sprout Import is no longer supported. I recommend checking out the first-party Feed Me plugin as an alternative.

[2021-02-11 14:04] #85 closed

[2021-02-24 15:40] billymedia commented on #79
I have also encountered this issue, you mentioned that you resolved this, what did you have to do? @BenParizek

[2021-03-15 13:03] BenParizek commented on #79
@billymedia We retired Sprout Import a couple of years ago now after Pixel & Tonic purchased the FeedMe plugin and made it first-party. I recommend using FeedMe moving forward.

[2021-06-03 02:05] anchovy opened #86 "Dependancy issue"
### Description (screenshots, logs, ...)

I've got sprout-redirects installed (pro version) and need to instalsprout-import (`composer require barrelstrength/sprout-import`) to do bulk imports but I'm getting a dependency issue because sprout-redirects requires sprout base ^6.0.0 but sprout-import requires ^5.0.0;

[code]

### Steps to reproduce

1. install sprout-redirect, which also includes the

[2021-06-07 16:46] BenParizek commented on #86
@anchovy Sprout Import was discontinued and we currently don't have a supported way to import redirects. You would need to write a custom script at the moment. It is on my list to add an easy way to do this again, but I can't promise any timelines right now.

[2021-06-07 16:47] BenParizek commented on #86
Redirects Import Feature ticket: https://github.com/barrelstrength/craft-sprout-redirects/issues/33

[2021-06-07 16:47] #86 closed